
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Shared/Views/_Layout.cshtml";
    ViewBag.User = Model.Employee.Fullname;
}

@section Scripts {
    <script src="~/Content/js/information-management/external-document/Index.js"></script>
    <script src="~/Content/lib/datatable/jquery.dataTables.js"></script>
    <script src="~/Content/lib/datatable/dataTables.bootstrap4.js"></script>
}

@section Styles {
    <link href="~/Content/css/locations/common.css" rel="stylesheet" />
}

@model Web.Areas.InformationManagement.Data.InformationManagementViewModel


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-6 text-left">
                External Documents
            </div>
            <div class="col-6">
                <button id="btn-add" class="btn btn-sm btn-primary fa-pull-right"><i class="fa fa-plus"></i> Add External Document</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <small>
                <table class="table table-bordered" id="tbl-list" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Received By</th>
                            <th>Received From</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var ctr = 0;
                            foreach (var a in Model.ExternalDocuments) {
                                ctr++;
                                <tr>
                                    <td class="text-center">@ctr</td>
                                    <td><a target="_blank" href="/content/files/@a.UniqueFileName">@a.OriginalFileName</a> </td>
                                    <td>@a.Title</td>
                                    <td>@a.ReceivedBy</td>
                                    <td>@a.From</td>
                                    <td>@a.Date.ToLongDateString()</td>
                                    <td class="w-10 text-center">
                                        <div class="btn-group" role="group">
                                            <a href="javascript:void(0);" class="btn btn-secondary btn-edit" data-id="@a.Id" title="Edit"><i class="fa fa-edit"></i></a>
                                            <a href="javascript:void(0);" class="btn btn-danger btn-delete" data-id="@a.Id" title="Delete"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </small>
        </div>
    </div>
</div>

<div class="modal fade" id="mdl-new" tabindex="-1" role="dialog" aria-labelledby="mdl-new" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content f12">
            <div class="modal-header">
                <h5 class="modal-title">New External Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="bdy-new">
                <div class="row no-gutters">
                    <div class="col-8">
                        <label>Title</label>
                        <input class="form-control mb-2" id="fld-new-title" type="text" name="Title" placeholder="Title" data-required="true" />
                    </div>
                    <div class="col-4 pl-2">
                        <label>Date</label>
                        <input class="form-control mb-2 fld-date" id="fld-new-date" type="text" name="Date" placeholder="Date" data-required="true" />
                    </div>
                    <div class="col-12">
                        <label>Received By</label>
                        <select class="fld-employees">
                            <option value="">-</option>
                        </select>
                        <input id="fld-new-employee-id" type="hidden" name="EmployeeId" />
                        <input id="fld-new-received-by" type="hidden" name="ReceivedBy" placeholder="Received By" data-required="true" />
                    </div>
                    <div class="col-12">
                        <label>Received From</label>
                        <input class="form-control mb-2" id="fld-new-from" type="text" name="From" placeholder="From" data-required="true" />
                    </div>
                    <div class="col-12">
                        <label>Remarks</label>
                        <textarea type="text" class="form-control mb-2" name="Remarks" data-required="true" id="fld-new-remarks"></textarea>
                    </div>
                    <div class="col-12">
                        <hr class="hr-style-1" />
                    </div>
                    <div class="col-6">
                        <strong>Uploaded file:</strong>
                        <label class="lbl-file-uploaded" style="margin-bottom:0px !important;"></label><br />
                        <strong>File name:</strong>
                        <label class="lbl-file" style="margin-bottom:0px !important;"></label>
                        <input type="hidden" id="fld-new-unique-file-name" name="UniqueFileName" data-required="true" />
                        <input type="hidden" id="fld-new-original-file-name" name="OriginalFileName" data-required="true" placeholder="File"/>
                    </div>
                    <div class="col-6 pl-1">
                        <progress id="file-uploadphoto-progress" style="display:none;" max="100" value="0"></progress>
                        <form id="frm-photo-uploader">
                            <div class="dv-uploader input-group ">
                                <div class="custom-file">
                                    <input type="file" name="file" class="custom-file-input f12" id="fle-upload">
                                    <label class="custom-file-label f12" for="file-uploader">Choose file</label>
                                </div>
                            </div>
                        </form>
                        <div class="dv-viewer">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-new-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btn-new-save" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdl-edit" tabindex="-1" role="dialog" aria-labelledby="mdl-edit" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content f12">
            <div class="modal-header">
                <h5 class="modal-title">Update External Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="bdy-edit">
                <div class="row no-gutters">
                    <div class="col-8">
                        <label>Title</label>
                        <input class="form-control mb-2" id="fld-edit-title" type="text" name="Title" placeholder="Title" data-required="true" />
                        <input type="hidden" id="fld-edit-id" name="Id" data-required="true" />
                    </div>
                    <div class="col-4 pl-2">
                        <label>Date</label>
                        <input class="form-control mb-2 fld-date" id="fld-edit-date" type="text" name="Date" placeholder="Date" data-required="true" />
                    </div>
                    <div class="col-12">
                        <label>Received By:</label>
                        <select class="fld-edit-employees">
                            <option value="">-</option>
                        </select>
                        <input id="fld-edit-employee-id" type="hidden" name="EmployeeId" />
                        <input id="fld-edit-received-by" type="hidden" name="ReceivedBy" placeholder="Received By" data-required="true" />
                    </div>
                    <div class="col-12">
                        <label>Received From</label>
                        <input class="form-control mb-2" id="fld-edit-from" type="text" name="From" placeholder="From" data-required="true" />
                    </div>
                    <div class="col-12">
                        <label>Remarks</label>
                        <textarea type="text" class="form-control mb-2" name="Remarks" data-required="true" id="fld-edit-remarks"></textarea>
                    </div>
                    <div class="col-12">
                        <hr class="hr-style-1" />
                    </div>
                    <div class="col-6">
                        <strong>Uploaded file:</strong>
                        <label class="lbl-file-uploaded" style="margin-bottom:0px !important;"></label><br />
                        <strong>File name:</strong>
                        <label class="lbl-file" style="margin-bottom:0px !important;"></label>
                        <input type="hidden" id="fld-edit-unique-file-name" name="UniqueFileName" data-required="true" />
                        <input type="hidden" id="fld-edit-original-file-name" name="OriginalFileName" data-required="true" placeholder="File" />
                    </div>
                    <div class="col-6 pl-1">
                        <progress id="file-edit-uploadphoto-progress" style="display:none;" max="100" value="0"></progress>
                        <form id="frm-edit-photo-uploader">
                            <div class="dv-uploader input-group ">
                                <div class="custom-file">
                                    <input type="file" name="file" class="custom-file-input f12" id="fle-edit-upload">
                                    <label class="custom-file-label f12" for="file-uploader">Choose file</label>
                                </div>
                            </div>
                        </form>
                        <div class="dv-viewer">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-edit-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btn-edit-save" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>