
@{
    ViewBag.Title = "Education";
    Layout = "~/Areas/Shared/Views/_Layout.cshtml";
    ViewBag.User = Model.EmployeeUser.Fullname;
}

@section Scripts{
    <script src="~/Content/js/human-capital/employees/education.js"></script>
    <script src="~/Content/lib/datatable/jquery.dataTables.js"></script>
    <script src="~/Content/lib/datatable/dataTables.bootstrap4.js"></script>

}

@model Web.Areas.HumanCapital.Data.HumanCapitalViewModel

@section Styles{
    <link href="~/Content/css/locations/common.css" rel="stylesheet" />
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-6 text-left">
                <button id="btn-back" class="btn btn-sm btn-primary"><i class="fa fa-arrow-circle-left"></i> @Model.Employee.Fullname - Education</button>
            </div>
            <div class="col-6">
                <button id="btn-add" class="btn btn-sm btn-primary fa-pull-right"><i class="fa fa-plus"></i> Add Education</button>
                <input type="hidden" id="fld-permission-delete" value="@Model.DeletePermission" />
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <small>
                <table class="table table-bordered" id="tbl-list" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Course</th>
                            <th>School</th>
                            <th>Year Graduated</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var ctr = 0;
                            foreach (var a in Model.EmployeeEducations) {
                                ctr++;
                                <tr>
                                    <td class="text-center w-5">@ctr</td>
                                    <td>
                                        @a.Course
                                    </td>
                                    <td>
                                        @a.School
                                    </td>
                                    <td class="w-10 text-center">
                                        @a.YearGraduated
                                    </td>
                                    <td class="w-10 text-center">
                                        <div class="btn-group" role="group">
                                            <a href="javascript:void(0);" class="btn btn-secondary btn-edit" data-id="@a.Id" title="Edit"><i class="fa fa-edit"></i></a>
                                            <a href="javascript:void(0);" class="btn btn-danger btn-delete" data-id="@a.Id" title="Delete"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </small>
        </div>
    </div>
</div>


<div class="modal fade" id="mdl-new" tabindex="-1" role="dialog" aria-labelledby="mdl-new" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content f12">
            <div class="modal-header">
                <h5 class="modal-title">New Education</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="bdy-new">
                <input type="hidden" id="fld-new-employee-id" name="EmployeeId" data-required="true" value="@Model.Employee.Id" />
                <input type="hidden" id="fld-new-employee-name" name="EmployeeFullName" data-required="true" value="@Model.Employee.Fullname" />
                <div class="row no-gutters">
                    <div class="col-12">
                        <label>School</label><br />
                        <input type="text" class="form-control" id="fld-new-school" name="School" data-required="true" placeholder="School" />
                    </div>
                    <div class="col-12 pt-2">
                        <label>Course</label><br />
                        <input type="text" class="form-control" id="fld-new-course" name="Course" data-required="true" placeholder="Course" />
                    </div>
                    <div class="col-12 pt-2">
                        <label>Year Graduated</label><br />
                        <input type="number" class="form-control" id="fld-new-year-graduated" name="YearGraduated" data-required="true" placeholder="Year Graduated" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="btn-new-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btn-new-save" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdl-edit" tabindex="-1" role="dialog" aria-labelledby="mdl-edit" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content f12">
            <div class="modal-header">
                <h5 class="modal-title">Update Education</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="bdy-edit">
                <input type="hidden" id="fld-edit-employee-id" name="EmployeeId" data-required="true" value="@Model.Employee.Id" />
                <input type="hidden" id="fld-edit-employee-name" name="EmployeeFullName" data-required="true" value="@Model.Employee.Fullname" />
                <div class="row no-gutters">
                    <div class="col-12">
                        <label>School</label>
                        <input type="hidden" id="fld-edit-id" name="Id" data-required="true" />
                        <input type="text" class="form-control" id="fld-edit-school" name="School" data-required="true" placeholder="School" />
                    </div>
                    <div class="col-12 pt-2">
                        <label>Course</label>
                        <input type="text" class="form-control" id="fld-edit-course" name="Course" data-required="true" placeholder="Course" />
                    </div>
                    <div class="col-12 pt-2">
                        <label>Year Graduated</label>
                        <input type="number" class="form-control" id="fld-edit-year-graduated" name="YearGraduated" data-required="true" placeholder="Year Graduated" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-edit-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btn-edit-save" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdl-permission" tabindex="-1" role="dialog" aria-labelledby="mdl-permission" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="bdy-action">
                <p class="p-message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-alert-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>